## ONcE upon a TIME there was a PAD...
ONcE upon a TIME there was a PAD.../flag_enc.jpg
ONcE upon a TIME there was a PAD.../bit_map_enc.jpg
ONcE upon a TIME there was a PAD.../flag.jpg

## Implement everything by yourself?
# get it from https://git.cs.tu-dortmund.de/marvin.weiler/sfl_2022_2023_hash/src/branch/master/hash.py
# it's not needed for running the main script
Implement everything by yourself?/hash.py